/* MAIN CSS */
body {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 1em;
	color: #333;
}

.wrap {
	width: 100%;
	height: 100%;
}

.name-row {
	text-align: center;
	padding: 0.25em 0;
	background: #eee;
}

.userbar {
	background: #fff;
	padding: 0.25em;
	width: 100%;
	color: #70b5e0;
	box-sizing: border-box;
}
.userbar span {
	color: #1e5475;
}
.list-icon {
	float: left;
	margin: 0 5px 0 0;
}
.list-icon > div {
	background: #bbb;
	height: 5px;
	width: 18px;
	border-radius: 1px;
	margin: 0 0 3px 0;
}

.btn-row {
	overflow: hidden;
}

.big-btn {
	font-size: 1.5em;
	text-align: center;
	box-sizing: border-box;
	padding: 0.25em;
	width: 50%;
	float: left;
	background: #70b5e0;
	color: #1e5475;
	cursor: pointer;
}
.big-btn.full {
	width: 100%;
}
.big-btn:hover,
.big-btn:active,
.big-btn:focus {
	color: #0d2737;
}
.big-btn.claim {
	background: #76b981;
	color: #2c5e34;
}
.big-btn.claim:hover,
.big-btn.claim:active,
.big-btn.claim:focus {
	color: #15361a;
}
.msg {
	background: #eee;
	float: left;
	font-size: 1.5em;
	padding: 0.25em;
	width: 50%;
	box-sizing: border-box;
}

#map_canvas {
	width: 100%;
	height: 550px;
}

.view-details,
.add-details {
	background: #333;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;
}
.view-details .content,
.add-details .content {
	float: left;
	width: 85%;
	padding: 0.5em;
	box-sizing: border-box;
}
.view-details img {
	float: right;
}
.view-details {
	padding: 0.4em;
}
.view-details .reported {
	text-transform: uppercase;
	color: #fff;
	font-size: 0.7em;
	line-height: 0.5em;
	margin: 10px 0 5px 0;
}
.view-details .type {
	font-size: 1.25em;
	color: #fff;
}
.view-details .meta {
	font-size: 0.75em;
	color: #999;
}
.view-details p {
	color: #999;
	margin: 0;
}
.view-details .btn {
	border-radius: 4px;
	float: left;
	width: 30%;
	margin: 1.5%;
	padding: 0.25em;
	text-align: center;
	background: #76b981;
	color: #2c5e34;
	box-sizing: border-box;
}
.view-details .btn.reuped {
	background: #eb5b6c;
	color: #551a21;
}
.view-details img {
	max-width: 15%;
	max-height: 25%;
}
.clear {
	float: left;
	height: 10px;
	clear: both;
}

.close {
	float: right;
	color: #444;
	font-size: 2em;
	width: 15%;
	text-align: center;
}
.close:hover,
.close:active,
.close:focus {
	color: #fff;
	cursor: pointer;
}

.success,
.list {
	position: absolute;
	width: 100%;
	background: #76b981;
	text-align: center;
	top: 3.25em;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.list {
	background: #fff;
}
.list .close {
	font-family: Arial, sans-serif;
	color: #666;
}
.list .close:hover,
.list .close:active,
.list .close:focus {
	color: #333;
}
.list ul {
	list-style-type: none;
	padding: 0;
	margin: 0 1em;
}
.list li {
	margin: 0 0 0.3em 0;
	padding: 0.25em;
	text-align: left;
	cursor: pointer;
}
.list .added {
	background: #76b981;
	color: #2c5e34;
	padding: 0.25em;
	margin: 0.75em;
	box-sizing: border-box;
	border-radius: 4px;
}
.list h4 {
	color: #1e5475;
	text-align: left;
	font-size: 1em;
	border-bottom: 1px dotted #70b5e0;
	padding: 0.25em 0;
	margin: 1em;
}
.list li .dot {
	float: left;
	border-radius: 8px;
	margin: 0 10px 0 0;
	background: #1e5475;
	width: 12px;
	height: 12px;
}
.list li .dot.gray {
	background: #bbb;
}
.list li .dot.green {
	background: #76b981;
}
.list li .cat {
	display: block;
	line-height: 0.5em;
}
.list li .meta {
	font-size: 0.75em;
}
.list li.closed {
	color: #999;
}
.list .fixed {
	float: right;
	background: #76b981;
	border-radius: 4px;
	color: #fff;
	padding: 0.25em;
}

select, textarea {
	background: #444;
	border: 0;
	border-radius: 4px;
	font-size: 1em;
	padding: 0.25em;
	-webkit-appearance: none;
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto Condensed';
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 0.25em 0;
}
textarea {
	resize: none;
	height: 50px;
}
input[type="file"] {
	-webkit-appearance: none;
	border: 0;
	background: #444;
	color: #444;
	box-sizing: border-box;
	width: 100%;
	padding: 0.25em;
	border-radius: 4px;
	margin: 0 0 0.25em 0;
}
.submit-btn {
	border: 0;
	border-radius: 4px;
	background: #34b849;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
}

.success {
	padding: 2em;
	box-sizing: border-box;
}
.success h4,
.open-success h2 {
	font-size: 2em;
	color: #fff60b;
	margin: 0 0 1em 0;
	line-height: 0.5em;
}
.success input {
	margin: 1em 0;
}

.open-success {
	background: #34b849;
	text-align: center;
}
.open-success a {
	color: #fff60b;
}
.open-success h2 {
	margin: 1em 0;
}