/* MAIN CSS */
body {
	font-family: 'Roboto Condensed';
	font-weight: 300;
	font-size: 1em;
	color: #333;
}

.wrap {
	width: 100%;
	height: 100%;
}

.name-row {
	text-align: center;
	padding: 0.25em 0;
	background: #eee;
}

.btn-row {
	overflow: hidden;
}

.big-btn {
	font-size: 1.5em;
	text-align: center;
	box-sizing: border-box;
	padding: 0.25em;
	width: 50%;
	float: left;
	background: #70b5e0;
	color: #1e5475;
	cursor: pointer;
}
.big-btn.full {
	width: 100%;
}
.big-btn:hover,
.big-btn:active,
.big-btn:focus {
	color: #0d2737;
}
.big-btn.claim {
	background: #76b981;
	color: #2c5e34;
}
.big-btn.claim:hover,
.big-btn.claim:active,
.big-btn.claim:focus {
	color: #15361a;
}
.msg {
	background: #eee;
	float: left;
	font-size: 1.5em;
	padding: 0.25em;
	width: 50%;
	box-sizing: border-box;
}

#map_canvas {
	width: 100%;
	height: 300px;
}

.view-details,
.add-details {
	background: #333;
	overflow: hidden;
	position: fixed;
	bottom: 0;
}
.view-details .content,
.add-details .content {
	float: left;
	width: 85%;
	padding: 0.5em;
	box-sizing: border-box;
}
.view-details img {
	float: right;
}
.view-details .type {
	font-size: 1.25em;
	color: #fff;
}
.view-details .meta {
	font-size: 0.75em;
	color: #999;
}

.close {
	float: right;
	color: #444;
	font-size: 2em;
	width: 15%;
	text-align: center;
}
.close:hover,
.close:active,
.close:focus {
	color: #fff;
	cursor: pointer;
}

select, textarea {
	background: #444;
	border: 0;
	border-radius: 4px;
	font-size: 1em;
	padding: 0.25em;
	-webkit-appearance: none;
	color: #fff;
	font-weight: 300;
	font-family: 'Roboto Condensed';
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 0.25em 0;
}
textarea {
	resize: none;
	height: 50px;
}
input[type="file"] {
	-webkit-appearance: none;
	border: 0;
	background: #444;
	color: #fff;
	box-sizing: border-box;
	width: 100%;
	padding: 0.25em 0;
	border-radius: 4px;
	margin: 0 0 0.25em 0;
}
.submit-btn {
	border: 0;
	border-radius: 4px;
	background: #34b849;
	color: #fff;
	text-align: center;
	width: 100%;
	padding: 0.25em;
	box-sizing: border-box;
}