<!DOCTYPE html>
<html ng-app="steelCityReddUp">
<head>
	<title>Steel City Reddup - {% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="wrap" ng-controller="Controller">
		<div class="name-row">Steel City <span style="color: #cfac0b;">Redd Up</span></div>
		<div class="" id="map_canvas" ui-map="map" ui-event="{'map-click': 'tempMarker($event)'}" ui-options="mapOptions" >
		</div>
		<div ng-repeat="issue in issues" ui-map-marker="issues[$index].marker"
		  ui-event="{'map-click': 'openDetails(issue)'}">
		</div>
		<div class="btn-row" ng-show="mode.select">
			<div class="big-btn full" ng-click="setMode('identify')">Identify</div>
		</div>
		<!-- Show after clicking 'Identify' -->
		<div class="btn-row" ng-show="mode.identify">
			<div class="big-btn" ng-click="setMode('details')">Use my location</div>
			<div class="msg">or tap the map {{ mode.identify }}</div>
		</div>
		<!-- Show after clicking 'Claim' -->
		<div class="" ng-show="mode.claim">
		</div>
		<!-- Show after solving a claim -->
		<div class="" ng-show="mode == ''">
		</div>
		<!-- Show after choosing location -->
		<div class="add-details" ng-show="mode.details">
			<div class="close" ng-click="cancelNewIssue()">&times;</div>
			<div class="content">
				<select ng-model="newIssue.category">
					<option>What kind of problem are you reporting?</option>
					<option value="1">Garbage</option>
					<option value="1">Pothole</option>
				</select>
				<textarea ng-model="newIssue.description" placeholder="Add a description"></textarea>
				<input ng-model="image" type="file" value="Add Image" />
				<div class="submit-btn" ng-click="addIssue()">Save issue</div>
			</div>
		</div>
		<div class="view-details">
			<div class="close" ng-click="activeIssue = ''; setMode('select')">&times;</div>
			<img src="http://placehold.it/150x100" ng-show="activePoint.image" />
			<div class="type">{[{ activeIssue.type }]}</div>
			<div class="meta">{[{ activePoint.createdBy }]} - {[{ activePoint.dateCreated }]}</div>
		</div>
		<div class="user-bar">
			<span ng-show="!user">Log in to save your contributions</span>
			<div ng-show="user">
				<div class="username">username</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdiN0-v4BAY7TI9tno96e8VjFMHET1nU&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</body>
</html>