<!DOCTYPE html>
<html ng-app="steelCityReddUp">
<head>
	<title>Steel City Reddup - {% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="wrap" ng-controller="Controller">
		<div class="name-row"><img src="{{ STATIC_URL }}css/SteelCityReddUpLogo.png" alt="Steel City Redd Up" style="width: 200px;" /></span></div>
		<div class="loading" ng-show="loading">Loading</div>
		<div class="" id="map_canvas" ui-map="map" ui-event="{'map-click': 'tempMarker($event)'}" ui-options="mapOptions" >
		</div>
		<div ng-repeat="issue in issues" ui-map-marker="issues[$index].marker"
		  ui-event="{'map-click': 'openDetails(issue)'}">
		</div>
		<div class="btn-row" ng-show="mode.select" ng-hide="activeIssue">
			<div class="big-btn full" ng-click="setMode('identify')">Report a problem</div>
		</div>
		<!-- Show after clicking 'Identify' -->
		<div class="btn-row" ng-show="mode.identify">
			<div class="big-btn" ng-click="tempMarker()">Use my location</div>
			<div class="msg">or tap the map {{ mode.identify }}</div>
		</div>
		<div class="success" ng-show="successOpen">

			<div ng-click="closeMsg()">Close</div>
		</div>
		<div class="success" ng-show="successClose">
			<h4>Great! We're happy it's fixed.</h4>
			<form enctype="multipart/form-data" action="issue/close/" method="POST">
				<label>Share an image of the fixed issue</label>
				<input name="afterImg" id="afterImg" type="file" value="Add Image" />

				<input type="checkbox" /> Alert me when there are similar problems in this area in the future

				<input type="hidden" name="issue_id" id="issue_id" value="{[{activeIssue.id}]}" />
				<input type="hidden" name="closer_id" id="closer_id" value="{[{activeIssue.closer.id}]}" />
				<input type="hidden" name="cleaner_id" id="cleaner_id" value="{[{activeIssue.cleaner.id}]}" />
				
				<input type="submit" class="submit-btn" value="Submit and close this issue" />
			</form>
		</div>
		<div class="list" ng-show="mode.userList">
			<div class="close" ng-click="setMode('select'); newClaim = false">&times;</div>
			<h4>Issues I've claimed</h4>
			<div class="added" ng-show="newClaim">Thanks! We've added this issue to your list</div>
			<ul>
				<li ng-repeat="issue in issues" ng-show="issue.opener == 'nate' || issue.cleaner == 'nate'">
					<span class="fixed" ng-click="setMode('select'); $parent.activeIssue = issue; $parent.successClose = true">I fixed it!</span>
					<span class="dot"></span>
					<span class="cat" ng-click="openDetails(issue)">{[{issue.category}]} - {[{issue.description}]}</span>
					<span class="meta">7 days remain to fix this issue</span>
				</li>
				<li class="closed">
					<span class="dot gray"></span>
					<span class="cat">Garbage - Bunch of trash in lot near TJs</span>
					<span class="meta">Jan 17, 2013</span>
				</li>
				<li class="closed">
					<span class="dot gray"></span>
					<span class="cat">Garbage - Stuff lying around here on Penn Ave.</span>
					<span class="meta">Jan 12, 2013</span>
				</li>
			</ul>
			<h4>Issues I've opened</h4>
			<ul>
				<li ng-repeat="issue in issues" ng-show="issue.opener == 'nate' || issue.cleaner == 'nate'" ng-click="openDetails(issue)">
					<span class="dot green"></span>
					<span class="cat">{[{issue.category}]} - {[{issue.description}]}</span>
					<span class="meta">Opened today</span>
				</li>
				<li class="closed">
					<span class="dot gray"></span>
					<span class="cat">Broken Curb - Huge chunk of curb has fallen away.</span>
					<span class="meta">Jan 10, 2013, closed by pghCityWorker23</span>
				</li>
			</ul>
		</div>
		<!-- Show after choosing location -->
		<div class="add-details" ng-show="mode.details">
			<div class="close" ng-click="cancelNewIssue()">&times;</div>
			<div class="content">
                <!--
				<select ng-model="newIssue.category">
					<option>What kind of problem are you reporting?</option>
					<option value="1">Garbage</option>
					<option value="1">Pothole</option>
				</select>
				<textarea ng-model="newIssue.description" placeholder="Add a description"></textarea>
				<input ng-model="beforeImg" type="file" value="Add Image" />
				<div class="submit-btn" ng-click="openIssue()">Save issue</div>
				-->
                <form enctype="multipart/form-data" action="issue/open/" method="POST">
                    <div class="wrap-select"><select name="category" id="category">
                        <option>What kind of problem are you reporting?</option>
                        <option value="1">Garbage</option>
                        <option value="1">Pothole</option>
                    </select></div>
                    <textarea name="description" placeholder="Add a description"></textarea>
                    <input type="hidden" name="latitude" id="latitude" ng-model="newIssue.latitude" value="{[{ newIssue.latitude }]}"/>
                    <input type="hidden" name="longitude" id="longitude" ng-model="newIssue.longitude" value="{[{ newIssue.longitude }]}" />
                    <input type="hidden" name="location_type_id" id="location_type_id" value="1" />
                    <input name="beforeImg" id="beforeImg" type="file" value="Add Image" />
                    <input type="submit" value="Submit" />
                </form>
			</div>
		</div>
		<div class="view-details" ng-show="activeIssue.id">
			<div class="close" ng-click="activeIssue = ''; setMode('select')">&times;</div>
			<img src="{[{ activeIssue.before_img }]}" ng-show="activeIssue.before_img" />
			<div class="reported">Reported {[{ activeIssue.reported }]} times</div>
			<div class="type">{[{ activeIssue.category }]}</div>
			<p>{[{ activeIssue.description }]}</p>
			<div class="meta">Posted by {[{ activeIssue.opener }]} on {[{ activeIssue.date_opened | date:'shortDate' }]}</div>
			<div class="clear"></div>
			<div class="btn" ng-click="claimIssue(activeIssue.id)">I'll fix it</div>
			<div class="btn" ng-click="activeIssue.reported = activeIssue.reported + 1; activeIssue.reUped = true" class="{'reuped': 'activeIssue.reUped'}">
				<span ng-show="activeIssue.reUped">Thanks!</span>
				<span ng-hide="activeIssue.reUped">Increase priority</span>
			</div>
			<div class="btn" ng-click="successClose = true">It's been fixed</div>
		</div>
		<div ng-click="setMode('userList')" class="userbar">
			<div class="list-icon">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<span>benPaul</span> - View issues I've created or claimed
		</div>
		<div class="user-bar" ng-show="false">
			<span ng-show="!user">Log in to save your contributions</span>
			<div ng-show="user">
				<div class="username">username</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdiN0-v4BAY7TI9tno96e8VjFMHET1nU&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
</body>
</html>