<!DOCTYPE html>
<html ng-app="steelCityReddUp">
<head>
	<title>Steel City Reddup - {% block title %}{% endblock %}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" />

	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<body>
	
	<div class="wrap" ng-controller="Controller">
		<div class="name-row">Steel City <span style="color: #cfac0b;">Redd Up</span></div>
		<div class="loading" ng-show="loading">Loading</div>
		<div class="" id="map_canvas" ui-map="map" ui-event="{'map-click': 'tempMarker($event)'}" ui-options="mapOptions" >
		</div>
		<div ng-repeat="issue in issues" ui-map-marker="issues[$index].marker"
		  ui-event="{'map-click': 'openDetails(issue)'}">
		</div>
		<div class="btn-row" ng-show="mode.select">
			<div class="big-btn full" ng-click="setMode('identify')">Report a problem</div>
		</div>
		<!-- Show after clicking 'Identify' -->
		<div class="btn-row" ng-show="mode.identify">
			<div class="big-btn" ng-click="tempMarker()">Use my location</div>
			<div class="msg">or tap the map {{ mode.identify }}</div>
		</div>
		<div class="success" ng-show="successOpen">

			<div ng-click="closeMsg()">Close</div>
		</div>
		<div class="success" ng-show="successClose">

			<input type="checkbox" />Alert me to new problems I can fix in the future
			<div ng-click="closeIssue(activeIssue)">Close this issue</div>
			<div ng-click="closeMsg()" ng-show="closeHasSucceeded">Thanks! Return to home</div>
		</div>
		<div class="list" ng-show="mode.userList">
			<ul>
				<li ng-repeat="issue in issues" ng-show="issue.opener == 'nate' || issue.cleaner == 'nate'" ng-click="openDetails(issue)">
					{[{issue.category}]}
				</li>
			</ul>
		</div>
		<!-- Show after choosing location -->
		<div class="add-details" ng-show="mode.details">
			<div class="close" ng-click="cancelNewIssue()">&times;</div>
			<div class="content">
                <!--
				<select ng-model="newIssue.category">
					<option>What kind of problem are you reporting?</option>
					<option value="1">Garbage</option>
					<option value="1">Pothole</option>
				</select>
				<textarea ng-model="newIssue.description" placeholder="Add a description"></textarea>
				<input ng-model="beforeImg" type="file" value="Add Image" />
				<div class="submit-btn" ng-click="openIssue()">Save issue</div>
				-->
                <form enctype="multipart/form-data" action="issue/open/" method="POST">
                    <select name="category" id="category">
                        <option>What kind of problem are you reporting?</option>
                        <option value="1">Garbage</option>
                        <option value="1">Pothole</option>
                    </select>
                    <textarea name="description" placeholder="Add a description"></textarea>
                    <input type="hidden" name="latitude" id="latitude" ng-model="newIssue.latitude" value="{[{ newIssue.latitude }]}"/>
                    <input type="hidden" name="longitude" id="longitude" ng-model="newIssue.longitude" value="{[{ newIssue.longitude }]}" />
                    <input type="hidden" name="location_type_id" id="location_type_id" value="1" />
                    <input name="beforeImg" id="beforeImg" type="file" value="Add Image" />
                    <input type="submit" value="Submit" />
                </form>
			</div>
		</div>
		<div class="view-details" ng-show="activeIssue.id">
			<div class="close" ng-click="activeIssue = ''; setMode('select')">&times;</div>
			<img src="http://placehold.it/150x100" ng-show="activeIssue.image" />
			<div class="type">{[{ activeIssue.category }]}</div>
			<p>{[{ activeIssue.description }]}</p>
			<div class="meta">{[{ activeIssue.opener }]} - {[{ activeIssue.date_opened | date:'medium' }]}</div>
			<div class="clear"></div>
			<div class="btn" ng-click="claimIssue(activeIssue.id)">Claim</div>
			<div class="btn" ng-click="reUpIssue(activeIssue.id)">ReUp</div>
			<div class="btn" ng-click="successClose = true">It's been fixed</div>
		</div>
		<div ng-click="setMode('userList')">View list</div>
		<div class="user-bar">
			<span ng-show="!user">Log in to save your contributions</span>
			<div ng-show="user">
				<div class="username">username</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/angular-ui.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWdiN0-v4BAY7TI9tno96e8VjFMHET1nU&sensor=true"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/spin.min.js"></script>
</body>
</html>