<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src='http://openlayers.org/api/OpenLayers.js'></script>

    <script type="text/javascript">
        var map, layer;
        var issue_layer;
        function new_issue(e)
        {
                    var lonlat = map.getLonLatFromPixel(e.xy);
                    alert("You clicked near " + lonlat.lat + " N, " +
                                              + lonlat.lon + " E");
            var proj = new OpenLayers.Projection("EPSG:4326");
            lonlat.transform( map.getProjectionObject(), proj);            
            alert("You clicked near " + lonlat.lat + " N, " +
                                              + lonlat.lon + " E");                    
        }
        function init(){

            map = new OpenLayers.Map( 'map');
            layer = new OpenLayers.Layer.OSM( "Simple OSM Map");
            map.addLayer(layer);
            map.setCenter(
                    new OpenLayers.LonLat(-79.9961, 40.4406).transform(
                            new OpenLayers.Projection("EPSG:4326"),
                            map.getProjectionObject()
                    ), 12
            );

            OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 

                trigger: function(e) {
                    var lonlat = map.getLonLatFromPixel(e.xy);
                    alert("You clicked near " + lonlat.lat + " N, " +
                                              + lonlat.lon + " E");
                }

            });

//create a style object
            var style = new OpenLayers.Style();
//rule used for all polygons
            var rule_snow = new OpenLayers.Rule({
                symbolizer: {
                    fillColor: "#ff9a9a",
                    fillOpacity: 0.5,
                    strokeColor: "#000000",
                    strokeWidth: 1,
                    strokeDashstyle: "dash",
                    label: "${description}",
                    labelAlign: "cc",
                    fontColor: "#333333",
                    fontOpacity: 0.9,
                    fontFamily: "Arial",
                    fontSize: 14}
            });
            var rule_highlight = new OpenLayers.Rule({
                filter: new OpenLayers.Filter.Comparison({
                    type: OpenLayers.Filter.Comparison.EQUAL_TO,
                    property: "active",
                    value: "1",
                }),
                symbolizer: {
                    fillColor: "#FF7144",
                    fillOpacity: 0.6,
                    strokeColor: "#FF0000",
                    strokeWidth: 2,
                    strokeDashstyle: "solid",
                    label: " ${description}",
                    labelAlign: "cc",
                    fontColor: "#000000",
                    fontOpacity: 1,
                    fontFamily: "Arial",
                    fontSize: 16,
                    fontWeight: "600"}
            });
            style.addRules([rule_snow, rule_highlight]);

            var issues = {{ issues }};
            var geojson_format  = new OpenLayers.Format.GeoJSON({
                'internalProjection': new OpenLayers.Projection("EPSG:900913"),
                'externalProjection': new OpenLayers.Projection("EPSG:4326")
            });
            issue_layer = new OpenLayers.Layer.Vector("Issues", {
                styleMap: style});
            map.addLayer(issue_layer);
            issue_layer.addFeatures(geojson_format.read(issues));
              var click = new OpenLayers.Control.Click();
                map.addControl(click);
                click.activate();
        }
    </script>
    <style>
        .smallmap {
            width: 1000px;
            height: 512px;
            border: 1px solid #ccc;
        }
    </style>
    <title></title>
</head>
<body onload="init()">
<div id="map" class="smallmap"></div>
</body>
</html>